
/* css1 selectors */

body {
margin: 0;
padding: 0;
color: #222;
background: #eee;
font-family: 'Lato', sans-serif;
font-size: 12pt;	
line-height: 1.4;
}

.nb { white-space: nowrap; }

p,li,h1,h2,h3,h4,h5,h6,h7 {
/*font-family: Helvetica,Arial,sans-serif;*/
/*font-size:11px;*/
padding:0 4px 0 5px;
margin:0;
}

li {
 text-align: left;
}

h1,h2,h3,h4,h5,h6,h7 {
font-family: 'Open Sans',Helvetica,Arial,sans-serif;
/*font-size:11px;*/
padding:0 4px 0 5px;
margin:0;
}

h3:first-letter {
 text-transform: uppercase;
}

p.info  { color: silver; }
.info b {
  color: gray;
}

.paper { 
font-weight: bold;
font-size: 13pt;
color: #660;
}

img { border: none; }

p {	
margin-bottom:1.4em;
}

h1,h2,h3 {
padding:0px 0 0 5px;
}
	
h4,h5,h6,h7 {
padding:0 0 0 5px;
}

q,blockquote {
padding-left:10px;
font-style: italic;
}

.firstcolheader, .colheader {
/*font-size:10px;*/
margin:0 0 3px 0;
padding:2px 0px 2px 0px;
width:100%;
text-transform: uppercase;
text-indent: 5px;
/*border-bottom:1px solid #999999;*/
color: #333333; /*#999999;*/
/* text-decoration: underline; */
/* background-color: red;*/
}

.bigheader {
text-transform: uppercase;
font-size: 28px;
margin:2.5em 0 15px 15px;
padding:0px 0px 0px 0px;
width:100%;
text-indent: -11px;
/*border-bottom:1px solid #999999;*/
color: #333;
/*text-decoration: underline;*/
/*background-color: #333; */
/*border: solid red 1px;
border-width: 1px 0 1px 0;*/
}

a:link {color:#660;}
a:visited {color: #660;}
a:hover {color:#880;}
a:active {color:#660;}

/* positional declarations */
#gridgroup1, #gridgroup2, #gridgroup3 {
	position:relative;
	width:100%;
	left:0;top:0;
	z-index: 2;
	}

/* silly decorative declarations */
#gridgroup1 {
	height: 45px;
	color: #999999;
	}

#gridgroup2 {
 clear:both;
}

#gridgroup3 {
	border-top:1px solid #999999;
	}

/* content boxes 2 column configuration */

#box1-2 {
	position:relative;
	padding-left:20%;
	padding-right:10px;
	}
#box2-2 {
	position:absolute;
	top:0;
	left:0;
	width:20%;
	}
#box3-2 {
	position:relative;
	top:0;
	left:20%;
	width:80%;
	}
#box6-3 {
	position:relative;
	padding-left:20%;
	padding-right:10px;
	}
#box7-3 {
	position:relative;
	}



/* content boxes 3 column configuration */

#box1-3 {
	position:relative;
	padding-left:20%;
	padding-right:10px;
	}
#box2-3 {
	position:absolute;
	top:0;
	left:0;
	width:20%;
	}
#box3-3 {
	position:relative;
	top:0;
	left:20%;
	width:60%;
	}
#box4-3 {
	position:absolute;
	top:0;
	left:60%;
	width:20%;
	}
#box5-3 {
	position:absolute;
	top:0;
	left:80%;
	width:20%;
	}
#box6-3 {
	position:relative;
	padding-left:20%;
	padding-right:10px;
	}
#box7-3 {
	position:relative;
	}



/* content boxes 4 column configuration */

#box1-4 {
	position:relative;
	padding-left:20%;
	padding-right:10px;
	}
#box2-4 {
	position:absolute;
	top:0;
	left:0;
	width:18%;
	}
#box3-4 {
	position:absolute;
	top:0;
	left:20%;
	width:28%;
	z-index:1;
	}

#box4-4 {
	position:absolute;
	top:0;
	left:50%;
	width:48%;
	}
#box5-4 {
	position:relative;
	top:0;
	left:85%;
	width:15%;
	}
#box6-4 {
	position:relative;
	padding-left:20%;
	padding-right:10px;
	}
#box7-4 {
	position:relative;
	}
                
p.links a {
 /* color: #333;*/
}

a.plink {
 font-weight: 300;
 /* color: #aaa; */
}

.bibtexhead {
font-family: fixed;
margin: 0;
}

.bibtexfoot {
font-family: fixed;
}

.bibtex {
font-family: fixed;
margin: 0;
margin-left: 10px;
}

.bibtex b {
font-weight: normal; color: #DDDDDD; text-decoration: underline;
}

/*
     FILE ARCHIVED ON 14:34:34 Apr 01, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:58:59 Oct 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 91.972
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.06
  cdx.remote: 0.052
  esindex: 0.009
  LoadShardBlock: 60.378 (3)
  PetaboxLoader3.datanode: 56.605 (5)
  load_resource: 161.76 (2)
  PetaboxLoader3.resolve: 120.801 (2)
*/